.app{
  text-align: center;
}
.row{
  text-align: center;
  margin-top: 5px;
}
.input{
  font-size: 18px;
}
.button{
  font-size: 18px;
  margin-left: 3px;
}
.refresh{
  font-size: 15px;
  margin-left: 3px;
  font-size: 18px;
}